table {
    border-radius: 0.75rem;
    overflow: hidden;
  }
  
  td, th {
    vertical-align: top;
    padding: 1rem;
  }
  
  .badge {
    font-size: 0.75rem;
    padding: 0.4em 0.6em;
    border-radius: 0.5rem;
  }
  